{% extends 'diary/base.html' %}
{% block content %}
<div class="row text-center" style="width: 90vw; padding: 2%">
    <form class="d-flex" role="search" method="GET" action="{% url 'diary:notes' %}">
        <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Поиск</button>
    </form>
        {% for note in notes %}
        {% if user == note.owner %}
        <div class="card" style="width: 18rem; margin: 0.2em;">
            <div class="card-body">
                {% if note.title %}
                <h5 class="card-title">{{ note.title }}</h5>
                {% endif %}
                <p class="card-text">{{ note.note|truncatechars:100 }}</p>
                <a type="button" class="btn btn-outline-light" href="{% url 'diary:note' note.pk %}">Подробнее</a>
                <a type="button" class="btn btn-outline-danger" href="{% url 'diary:delete_note' note.pk %}">Удалить</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}