{% extends 'diary/base.html' %}
{% block content %}
<div class="row g-0">
    <div class="col-md-6">
        <div class="col-4" style="position: absolute; margin: 2em 32vw;">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% if note.title %}
                    <h4 class="my-0 font-weight-normal">{{ note.title }}</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{ note.note }}
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-outline-light" href="{% url 'diary:update_note' note.pk %}" role="button">Изменить</a>
                        <a class="btn btn-outline-danger" href="{% url 'diary:delete_note' note.pk %}" role="button">Удалить</a>
                        <a class="btn btn-outline-light", href="{% url 'diary:notes' %}">К списку записей</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}